.main{
    min-height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
}

.chat_container {
    padding: 12px 50px;
    width: 75%;
    min-height: 100%;
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
}

.chat_column{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.Me{
    align-self: flex-end;
}

.Me > :first-child, .You > :first-child{
    margin-right: 4px;
}

.time{
    font-size: 12px;
    color: rgb(163, 163, 163);
}

.chat{
    border-radius: 7.5px;
    width: fit-content;
    padding: 8px;
    margin-bottom: 8px;
    display: inline-flex;
}

.you{
    border-bottom-left-radius: 0;
    background-color: white;
}

.me{
    border-bottom-right-radius: 0;
    background-color: rgb(193, 223, 255);
}


.input_container{
    padding-top: 16px;
    display: flex;
}

.form_group{
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: 12px;
}

.form_group > :first-child{
    margin-right: 8px;
}